.accordion {

    &>a[class~="p-accordion-header-link"] {
        background-color: #fff;

    }

}

.accordion_icon {
    width: 30px;
    margin: 0 10px;
    display: inline-block;
}

.header_text {
    vertical-align: super;
}